<!doctype html>
<html lang="es">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<title>
		Votación Panamá 2019
	</title>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="/">Votación 507'19</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="/">Inicio</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="/votar">Votar<span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/resultado">Resultados</a>
				</li>
			</ul>
		</div>
	</nav>
</head>

<body>
	<div class="jumbotron">
		<h1>Bienvenido {{ nom }} {{ ape }}</h1>
		<a>Cedula: {{ ced }}</a>
	</div>
	<br>
	<form action="{{ url_for('confirmacion') }}" , method="POST">
		<div class="card-group">
			<div class="card">
				<img src="/static/pic1.jpeg" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Marco Ameglio</h5>
					<p class="card-text">Libre Postulación.<br><br></p>
					<input class="btn btn-primary" type="submit" value="9" name="voto">
				</div>
			</div>
			<div class="card">
				<img src="/static/pic2.jpeg" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">José Isabel Blandon</h5>
					<p class="card-text">Partido Panameñista (4).<br>Partido Popular (2).</p>
					<div class="form-row align-items-center">
						<div class="col-auto">
							<input class="btn btn-primary" type="submit" value="4" name="voto">
						</div>
						<div class="col-auto">
							<input class="btn btn-primary" type="submit" value="2" name="voto">
						</div>
					</div>
				</div>
			</div>
			<div class="card">
				<img src="/static/pic3.jpeg" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Laurentino Cortizo</h5>
					<p class="card-text">PRD (1).<br>MOLIRENA (3).</p>
					<div class="form-row align-items-center">
						<div class="col-auto">
							<input class="btn btn-primary" type="submit" value="1" name="voto">
						</div>
						<div class="col-auto">
							<input class="btn btn-primary" type="submit" value="3" name="voto">
						</div>
					</div>
				</div>
			</div>
			<div class="card">
				<img src="/static/pic4.jpeg" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Ana Matilde Gómez</h5>
					<p class="card-text">Libre Postulación.<br><br></p>
					<input class="btn btn-primary" type="submit" value="8" name="voto">
				</div>
			</div>
			<div class="card">
				<img src="/static/pic5.jpeg" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Ricardo Lombana</h5>
					<p class="card-text">Libre Postulación.<br><br></p>
					<input class="btn btn-primary" type="submit" value="10" name="voto">
				</div>
			</div>
			<div class="card">
				<img src="/static/pic6.jpeg" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Saúl Mendez</h5>
					<p class="card-text">FAD.<br><br></p>
					<input class="btn btn-primary" type="submit" value="6" name="voto">
				</div>
			</div>
			<div class="card">
				<img src="/static/pic7.jpeg" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Rómulo Roux</h5>
					<p class="card-text">CD (5).<br>Partido Alianza (7).</p>
					<div class="form-row align-items-center">
						<div class="col-auto">
							<input class="btn btn-primary" type="submit" value="5" name="voto">
						</div>
						<div class="col-auto">
							<input class="btn btn-primary" type="submit" value="7" name="voto">
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
	<!-- Plugins JS Bootstrap -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>

</html>