<!doctype html>
<html lang="es">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>
    Votación Panamá 2019
  </title>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Votación 507'19</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/votar">Votar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/resultado">Actualizar Resultados<span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>
</head>


<body>
  <div class="jumbotron">
    <h1>Tabla de Resultados: Votación Panamá 2019</h1>
    <a>Votantes: {{ votantes }}</a><br>
    <a class="btn btn-primary btn-lg" href="/resultado/posicion" role="button">Ver Tabla de Posiciones</a>
  </div>
  <a>Total:</a>
  <div class="progress">
    <div class="progress-bar progress-bar-striped" role="progressbar" style="width: {{ pv1 }}%"
      aria-valuenow="{{ pv1 }}" aria-valuemin="0" aria-valuemax="100">1 - {{ pv1 }}%</div>
    <div class="progress-bar bg-success" role="progressbar" style="width: {{ pv2 }}%" aria-valuenow="{{ pv2 }}"
      aria-valuemin="0" aria-valuemax="100">2 - {{ pv2 }}%</div>
    <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: {{ pv3 }}%"
      aria-valuenow="{{ pv3 }}" aria-valuemin="0" aria-valuemax="100">3 - {{ pv3 }}%</div>
    <div class="progress-bar bg-warning" role="progressbar" style="width: {{ pv4 }}%" aria-valuenow="{{ pv4 }}"
      aria-valuemin="0" aria-valuemax="100">4 - {{ pv4 }}%</div>
    <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: {{ pv5 }}%"
      aria-valuenow="{{ pv5 }}" aria-valuemin="0" aria-valuemax="100">5 - {{ pv5 }}%</div>
    <div class="progress-bar" role="progressbar" style="width: {{ pv6 }}%" aria-valuenow="{{ pv6 }}" aria-valuemin="0"
      aria-valuemax="100">6 - {{ pv6 }}%</div>
    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: {{ pv7 }}%"
      aria-valuenow="{{ pv7 }}" aria-valuemin="0" aria-valuemax="100">7 - {{ pv7 }}%</div>
    <div class="progress-bar bg-info" role="progressbar" style="width: {{ pv8 }}%" aria-valuenow="{{ pv8 }}"
      aria-valuemin="0" aria-valuemax="100">8 - {{ pv8 }}%</div>
    <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: {{ pv9 }}%"
      aria-valuenow="{{ pv9 }}" aria-valuemin="0" aria-valuemax="100">9 - {{ pv9 }}%</div>
    <div class="progress-bar bg-danger" role="progressbar" style="width: {{ pv10 }}%" aria-valuenow="{{ pv10 }}"
      aria-valuemin="0" aria-valuemax="100">10 - {{ pv10 }}%</div>
  </div>
  <br><a>#{{ c1 }} - {{ nc1 }} - {{ pc1 }} - Votos: {{ v1 }} - {{ pv1 }}%</a><br>
  <div class="progress">
    <div class="progress-bar progress-bar-striped" role="progressbar" style="width: {{ pv1 }}%"
      aria-valuenow="{{ pv1 }}" aria-valuemin="0" aria-valuemax="100">1 - {{ pv1 }}%</div>
  </div>
  <br><a>#{{ c2 }} - {{ nc2 }} - {{ pc2 }} - Votos: {{ v2 }} - {{ pv2 }}%</a><br>
  <div class="progress">
    <div class="progress-bar bg-success" role="progressbar" style="width: {{ pv2 }}%" aria-valuenow="{{ pv2 }}"
      aria-valuemin="0" aria-valuemax="100">2 - {{ pv2 }}%</div>
  </div>
  <br><a>#{{ c3 }} - {{ nc3 }} - {{ pc3 }} - Votos: {{ v3 }} - {{ pv3 }}%</a><br>
  <div class="progress">
    <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: {{ pv3 }}%"
      aria-valuenow="{{ pv3 }}" aria-valuemin="0" aria-valuemax="100">3 - {{ pv3 }}%</div>
  </div>
  <br><a>#{{ c4 }} - {{ nc4 }} - {{ pc4 }} - Votos: {{ v4 }} - {{ pv4 }}%</a><br>
  <div class="progress">
    <div class="progress-bar bg-warning" role="progressbar" style="width: {{ pv4 }}%" aria-valuenow="{{ pv4 }}"
      aria-valuemin="0" aria-valuemax="100">4 - {{ pv4 }}%</div>
  </div>
  <br><a>#{{ c5 }} - {{ nc5 }} - {{ pc5 }} - Votos: {{ v5 }} - {{ pv5 }}%</a><br>
  <div class="progress">
    <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: {{ pv5 }}%"
      aria-valuenow="{{ pv5 }}" aria-valuemin="0" aria-valuemax="100">5 - {{ pv5 }}%</div>
  </div>
  <br><a>#{{ c6 }} - {{ nc6 }} - {{ pc6 }} - Votos: {{ v6 }} - {{ pv6 }}%</a><br>
  <div class="progress">
    <div class="progress-bar" role="progressbar" style="width: {{ pv6 }}%" aria-valuenow="{{ pv6 }}" aria-valuemin="0"
      aria-valuemax="100">6 - {{ pv6 }}%</div>
  </div>
  <br><a>#{{ c7 }} - {{ nc7 }} - {{ pc7 }} - Votos: {{ v7 }} - {{ pv7 }}%</a><br>
  <div class="progress">
    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: {{ pv7 }}%"
      aria-valuenow="{{ pv7 }}" aria-valuemin="0" aria-valuemax="100">7 - {{ pv7 }}%</div>
  </div>
  <br><a>#{{ c8 }} - {{ nc8 }} - {{ pc8 }} - Votos: {{ v8 }} - {{ pv8 }}%</a><br>
  <div class="progress">
    <div class="progress-bar bg-info" role="progressbar" style="width: {{ pv8 }}%" aria-valuenow="{{ pv8 }}"
      aria-valuemin="0" aria-valuemax="100">8 - {{ pv8 }}%</div>
  </div>
  <br><a>#{{ c9 }} - {{ nc9 }} - {{ pc9 }} - Votos: {{ v9 }} - {{ pv9 }}%</a><br>
  <div class="progress">
    <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: {{ pv9 }}%"
      aria-valuenow="{{ pv9 }}" aria-valuemin="0" aria-valuemax="100">9 - {{ pv9 }}%</div>
  </div>
  <br><a>#{{ c10 }} - {{ nc10 }} - {{ pc10 }} - Votos: {{ v10 }} - {{ pv10 }}%</a><br>
  <div class="progress">
    <div class="progress-bar bg-danger" role="progressbar" style="width: {{ pv10 }}%" aria-valuenow="{{ pv10 }}"
      aria-valuemin="0" aria-valuemax="100">10 - {{ pv10 }}%</div>
  </div>
  <!-- Plugins JS Bootstrap -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>